.container__principal{
    .info__container{
        display: flex;
        flex-direction: column;
        align-items: center;

        .info__img{
            width: 40rem;
            img{
                width: 100%;
            }
        }

        .info__content{
            width: 30rem;

            .title__info{
                text-align: center;
                font-size: 5rem;
                margin: 1rem;
            }

            .paragraph__info{
                font-size: 1.7rem;
                color: var(--paragraph);
            }
        }

        .info__btn{
            display: flex;
            gap: 5rem;
            font-size: 2rem;
            margin-top: 2rem;

            .btn-white{
                border: thin solid black;
                width: 12rem;
                padding: .5rem;
                text-decoration: none;
                color: black;
                text-align: center;
                border-radius: 2rem;
                font-weight: bold;
                transition: background-color .3s ease-in-out;

                &:hover{
                    background-color: black;
                    color: white;
                    border-color: transparent;
                }
            }

            .btn-blue{
                border: thin solid transparent;
                width: 12rem;
                padding: .5rem;
                text-align: center;
                color: white;
                border-radius: 2rem;
                text-decoration: none;
                background-color: var(--color1);
                transition: background-color .3s ease-in-out .1s;

                &:hover{
                    background-color: black;
                }
            }
        }

    }
}